* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.linea{
  text-decoration: none;
  color: black;
}

body{
  background-color: rgb(255, 255, 255);
}
header {
  font-size: 25px;
  margin: 22px;
  color:#ff0073;
  font-weight: 400;
  font-weight: 200;
}
#costosButton, #loginButton, #eficienciaButton, #confeccionesButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #ff8a73, #ff6bad);
  margin: 10px;

  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #ffffff;
  font-size: 22px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: linear-gradient(to right, #ff8a73, #ff6bad);
  transition: 0.1s;
}

.btn-btn-primary,
.btn-btn-secondary,
.btn-btn-danger {
  margin: 40px;
  width: 180px;
  height: 300px;
  background-color: rgb(132, 81, 180);
  font-size: 30px;
  border: 4px solid black;
  color: black ;
  border-radius: 40px;
}

.btn-btn-primary-mr-3 {
  margin: 40px;
  width: 180px;
  height: 300px;
  background-color: rgb(132, 81, 180);
  font-size: 30px;
  border: 4px solid black;
  color: black ;
  border-radius: 40px;
}

.btn-btn-primary {
   margin: 40px;
  width: 180px;
  height: 300px;
  background-color: rgb(132, 81, 180);
  font-size: 30px;
  border: 4px solid black;
  color: black ;
  border-radius: 40px;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
  "header window"
  "aside window";
  overflow: hidden;
}

.header h1 {
  font-size: 2.2em;
}
.aside {
  background-color: rgb(255, 195, 250);
  display: grid;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.li1 {
  font-weight: bold;
}

.aside__options {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.aside__shopping_cart {
  width: 50%;
  display: flex;
  gap: 10px;
}
.aside__shopping_cart div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside__shopping_cart div h5 {
  color: var(--color-white);
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 10px;
}
.aside__shopping_cart i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.aside h5 {
  width: 50%;
  display: flex;
  color: var(--color-black);
  font-size: 1.1em;
}
.aside__options li {
  list-style: none;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.aside__options li a:hover {
  font-weight: bold;
}
.aside__shopping_cart li a:hover {
  font-weight: bold;
}
.aside__shopping_cart li {
  list-style: none;
}
.aside__shopping_cart a,.aside__options a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.2em;
} 
.products__window {
  display: grid;
  grid-area: window;
  background-color: #a697c9
  ;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  padding: 4%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: rgb(172, 61, 61);
}
.window h1 {
  font-size: 2.3em;
  color: var(--color-black);
}

.container{
  width: 100%;
  height: 20%;
  background-color: var(--color-black);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}
.container h5 {
  color: var(--color-white);
  font-size: 1.1em;
}
.container div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.container div button {
  width: 35%;
  height: 120%;
  border: none;
  background-color: var(--color-gray);
  border-radius: 10px;
}
.container div button:hover {
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px var(--color-gray);
}






.cards {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 100%;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.Bienvenida {
  position: relative;
  top: -60px;
  color: black;
  font-size: 20px;
  z-index: 3;
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%; 
  margin: 0 auto;
}

.Bienvenida img {
  z-index: 3;
  width: 500px;
  height: 500px;
  position: relative;
  top: -40px;
}



.card {
  position: relative;
  width: 198px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-20px);
}

.card::before {

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  border-radius: 1.2em;
}

.card::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.card span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 1em;
}



.card .content {
  position: relative;
  padding: 10px;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.5em;
}




button {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
  margin-top: 12px;
}

button::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

button:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transition: 0.5s;
}


/**registros **/

.card {
  position: relative;
  width: 200px;
  padding: 80px;
  margin: 40px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-20px);
}

.card::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  border-radius: 1.2em;
  border-radius: 20px;

}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
  border-radius: 20px;

}

.card span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(148, 55, 55, 0.6);
  z-index: 2;
  border-radius: 20px;
  border-radius: 1em;
}

.card span::before {
  content: '';
  position: absolute;
  top: 0;
  
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 123, 83, 0.336);
}

.borrarLetra {
  opacity: 0;
}


/** Burbujas **/
body, html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.bubble {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  animation: float 10s infinite alternate;
}

.arreglos{
  display: flex;
  flex-direction: row;
}

.arreglo2{
  display: flex;
  flex-direction: row;
}

@keyframes float {
  0% {
      transform: translateY(-1000px);
  }
  50% {
      transform: translateY(-50px);
  }
  100% {
      transform: translateY(0);
  }
}


@media screen and (max-width: 995px) {
  .Bienvenida{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: 100%;
    align-items: center;
  }
  
  .Bienvenida img {
    width: 200px;
    height: 200px;
    margin-top: 80px;
  }
  
  h1{
    font-size: 40px;
  }

  .card{
    width: 20px;
  }

  header {
    font-size: 15px;
    margin: 2px;
    color:#ff0073;
    background-color: linear-gradient(to right, #f77c63, #ff6bad);
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  .cards{
   padding: 25;
  }
  
  .arreglos{
    flex-direction: column;
  }
  
  .arreglo3{
    position: relative;
    left: 25%;
  }
}                                                  
@media screen and (max-width: 500px) {
  
  .Bienvenida{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: 100%;
    align-items: center;
  }
  
  header {
    font-size: 30px;
    margin: 20px;
    color:#ff0073;
    background-color: linear-gradient(to right, #f77c63, #ff6bad);
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
}                                                  